services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_DIALECT: mariadb
      DB_PORT: 3306
      DB_NAME: spring
      DB_USER: springuser
      DB_PASSWORD: springpw
    ports:
      - "8080:8080"
    networks:
      - app
    depends_on:
      - db

  db:
    image: mariadb:11
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spring
      MYSQL_USER: springuser
      MYSQL_PASSWORD: springpw
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app

volumes:
  db-data:

networks:
  app: